/.venv
backend/django_debug.log
Maquette.odg
.prettierrc
frontend/package-lock.json
TODO
*__pycache__*
backend/db.sqlite3
backend/.env
*/media/*
backend/backend/media/*
backend/backend/db.sqlite3
Pipfile.lock
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
backend/celerybeat-schedule
backend/all_models.png
.~lock.UsersStories.ods#
.gitignore
*coverage*
UsersStories.ods
backend/db copy.sqlite3
