[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
psutil = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
django-cors-headers = "*"
drf-excel = "*"
openpyxl = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
