[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
psutil = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
django-phonenumber-field = {extras = ["phonenumberslite"] }
django-cors-headers = "*"
drf-excel = "*"
openpyxl = "*"
python-dotenv = "*"
pytest = "*"
pytest-django = "*"
ratelimit = "*"
django-ratelimit = "*"
celery = "*"
django-celery-results = "*"
pprintpp = "*"
coverage = "*"
pytest-cov = "*"
django-oscar-api = "*"
django-oscar = {extras = ["sorl-thumbnail"] }
pycountry = "*"
pysolr = "*"
python-decouple = "*"
psycopg2-binary = "*"
stripe = "*"

[dev-packages]
django-extensions = "*"
pygraphviz = "*"
django-schema-graph = "*"

[requires]
python_version = "3.11"
